{% extends "base.html" %}
{% block title %}Personal Report Registration{% endblock %}
{% block content %}
<h2>Register for Personal Report</h2>
<form method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required>

    <label for="mobile_no">Mobile No:</label>
    <input type="tel" id="mobile_no" name="mobile_no"  required>

    <label for="branch_name">Branch Name:</label>
<select id="branch_name" name="branch_name" required>
    <option value="">--Select Branch--</option>
    <option value="Central">Central</option>
    <option value="NRW">NRW</option>
    <option value="Berlin">Berlin</option>
    <option value="Hessen">Hessen</option>
    <option value="Bremen">Bremen</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Greater Germany">Greater Germany</option>
    <option value="Bravaria">Bravaria</option>
    <option value="Women">Women</option>
</select>

<label for="standard">Standard:</label>
<select id="standard" name="standard" required>
    <option value="">--Select Standard--</option>
    <option value="Member">Member</option>
    <option value="Worker">Worker</option>
    <option value="Supporter">Supporter</option>
</select>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Register</button>
</form>
{% endblock %}
